* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  background: url(questions.jpg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: $font-size-medium;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 98%;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $desktop-breakpoint) {
    max-width: 90%;
  }
}

.button {
  background: $mid-purple;
  border-radius: 8px;
  color: white;
  font-size: $font-size-large;
  margin-top: $s-size;
  padding: $xs-size $m-size;
}

.button--right {
  float: right;
}
