// Colours

$deep-purple: #4a148c; // Purple 900
$mid-purple: #8e24aa; // Purple 600
$purple-wash: #f3e5f5; // Purple 50

$correct-color: #19862B;
$wrong-colour: #9e1d32;

$results-correct: #70E680;    // In header

$light: #eee;

// Fonts

$font-size-small: 1.4rem;
$font-size-medium-small: 1.6rem;
$font-size-medium: 1.8rem;
$font-size-large: 3.2rem;

// Gaps

$base-size: 0.8rem;
$xs-size: 0.6rem;
$s-size: 1.6rem;
$m-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Desktop vs mobile

$desktop-breakpoint: 60rem;
