.questions__header {
  background-color: $deep-purple;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: $font-size-medium;
  justify-content: space-between;
  padding: $xs-size;
}

.question {
  display: flex;
  flex-direction: column;
}

.question__question {
  color: black;
  font-size: font-size-medium;
  text-align: center;
}

.question__answer {
  background: $mid-purple;
  border-radius: $xs-size;
  color: white;
  font-size: $font-size-medium;
  margin: $xs-size auto;
  padding: $s-size;
  transition: border-radius 300ms ease-in-out, background-color 300ms ease-in-out;
  width: 70%;
}

.question__answer:hover {
  border-radius: $m-size;
  background: $deep-purple;
}
