.questions__header {
  background-color: $deep-purple;
  color: $light;
  display: flex;
  flex-direction: row;
  font-size: $font-size-medium;
  justify-content: space-between;
  padding: $xs-size;
}

.question {
  background: $light;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: $s-size 1rem $xl-size 1rem;
}

.question__question {
  color: #222;
  font-size: $font-size-medium;
  text-align: center;
  padding: 0 3rem;
}

.question__answer {
  background: $mid-purple;
  border-radius: $xs-size;
  color: white;
  font-size: $font-size-medium;
  margin: $xs-size auto;
  padding: $s-size;
  width: 98%;
}

@media (min-width: $desktop-breakpoint) {
  .question__answer {
    transition: background-color 300ms ease-in-out;
    width: 70%;

    &:hover {
      background: $deep-purple;
    }
  }
}
