.results__header {
  background-color: $deep-purple;
  color: white;
  font-size: $font-size-large;
  padding: $s-size;
}

.results {
  margin: $s-size 0;
  overflow: auto;
}

.result {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: $font-size-medium;
  justify-content: space-between;
  margin-bottom: $xs-size;
  padding: $xs-size;
}

.result__correct-true {
  background: $correct-color;
}

.result__correct-false {
  background: $wrong-colour;
}
