* {
  box-sizing: border-box;
  outline: none; }

html {
  font-size: 62.5%; }

body {
  background: url(styles/questions.jpg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1.8rem;
  line-height: 1.5;
  padding: 0; }

.container {
  max-width: 98%;
  margin: 0 auto;
  padding: 0; }
  @media (min-width: 60rem) {
    .container {
      max-width: 90%; } }

.button {
  background: #8e24aa;
  border-radius: 8px;
  color: white;
  font-size: 3.2rem;
  margin-top: 1.6rem;
  padding: 0.6rem 2.4rem; }

.button--right {
  float: right; }

.selection {
  margin-top: 1.6rem;
  background: white;
  padding: 3.2rem;
  overflow: auto; }

.selection__title {
  margin: 0 0 3.2rem 0;
  text-align: center; }

label, input {
  font-size: 1.8rem; }

select {
  font-size: 1.8rem;
  max-width: 98%; }
  @media (min-width: 60rem) {
    select {
      min-width: 40rem; } }

label {
  display: block; }
  @media (min-width: 60rem) {
    label {
      display: inline-block;
      min-width: 22rem; } }

.questions__header {
  background-color: #4a148c;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 1.8rem;
  justify-content: space-between;
  padding: 0.6rem; }

.question {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1.6rem 0 4.8rem 0; }

.question__question {
  color: black;
  font-size: 1.8rem;
  text-align: center; }

.question__answer {
  background: #8e24aa;
  border-radius: 0.6rem;
  color: white;
  font-size: 1.8rem;
  margin: 0.6rem auto;
  padding: 1.6rem;
  width: 98%; }

@media (min-width: 60rem) {
  .question__answer {
    transition: background-color 300ms ease-in-out;
    width: 70%; }
    .question__answer:hover {
      background: #4a148c; } }

.results__header {
  background-color: #4a148c;
  color: white;
  padding: 0 0 0.6rem 1.6rem; }
  .results__header .count {
    font-size: 3.2rem;
    color: #80ff90; }

.results {
  align-items: center;
  background: #f0f0f0;
  color: #111;
  display: grid;
  font-size: 1.6rem;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 0.6rem;
  margin: 1.6rem 0;
  padding: 10px; }
  .results .button--right {
    margin-top: 3.2rem;
    grid-column: span 1 / -1;
    /* Saying just -1 adds a column, as it should */ }
  .results .correct {
    grid-column: span 1 / -1;
    padding: 0.6rem; }

.result__question {
  padding: 0.6rem; }

.result__correct-true {
  background: #1d9e32;
  color: #f0f0f0;
  padding: 0.6rem; }

.result__correct-false {
  background: #9e1d32;
  color: #f0f0f0;
  padding: 0.6rem; }

.App-header {
  background-color: #4a148c;
  color: white;
  padding: 0.6rem 0;
  text-align: center; }

.App-header__title {
  font-size: 3.2rem;
  margin: 0; }
