@import 'styles/constants';
@import 'styles/base';

@import 'styles/selection';
@import 'styles/questions';
@import 'styles/results';

.App-header {
  background-color: $deep-purple;
  color: $light;
  padding: $xs-size;
  text-align: center;

  img {
    float: left;
    margin-top: $xs-size;
  }
}

.App-header__title {
  font-size: $font-size-large;
  margin: 0;
}
