* {
  box-sizing: border-box;
  outline: none;
}

body {
  background: #F3E5F5;    /* Purple 50 */
  padding: 0;
}

.App {
}

.App-header {
  background-color: #4A148C;   /* Purple 900 */
  color: white;
  padding: 1.2em 0;
  text-align: center;
}

.App-header__title {
  font-size: 2.4em;
  margin: 0
}

.container {
  max-width: 50rem;
  margin: 0 auto;
}

label, input, select {
  font-size: 1.2em;
}

select {
  min-width: 25em;
}

label {
  display: inline-block;
  min-width: 12em;
}

.button {
  background: #8E24AA;    /* Purple 600 */
  color: white;
  font-size: 1.4em;
}

.questions__header {
  background-color: #4A148C;   /* Purple 900 */
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  justify-content: space-between;
  padding: 0.6em 0.6em;
}

.question {
  display: flex;
  flex-direction: column;
}

.question__question {
  color: black;
  font-size: 1.6em;
  text-align: center;
}

.question__answer {
  background: #8E24AA;    /* Purple 600 */
  border-radius: 0.6em;
  color: white;
  font-size: 1.4em;
  margin: .6em auto;
  min-width: 20em;
  padding: 0.6em;
  transition: border-radius 300ms ease-in-out, background-color 300ms ease-in-out;
  width: 50%;
}

.question__answer:hover {
  border-radius: 2em;
  background: #4A148C;   /* Purple 900 */
}

.results {
  margin-top: 1.6em;
}

.result {
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  justify-content: space-between;
  margin-bottom: 0.6em;
  padding: 0.6em;
}

.result__correct-true {
  background: #43A047;    /* Green 600 */
}

.result__correct-false {
  background: #E53935;    /* Red 600 */
}
