@import "styles/constants";
@import "styles/base";

@import "styles/questions";
@import "styles/results";

.App-header {
  background-color: $deep-purple;
  color: white;
  padding: $s-size 0;
  text-align: center;
}

.App-header__title {
  font-size: $font-size-large;
  margin: 0
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0;
}

.selection__title {
  text-align: center;
}

label, input {
  font-size: $font-size-medium;
}

select {
  font-size: $font-size-medium;
  min-width: 38rem;
}

label {
  display: block;

  @media (min-width: $desktop-breakpoint) {
    display: inline-block;
    min-width: 19rem;
  }
}

.button {
  background: $mid-purple;
  color: white;
  font-size: $font-size-large;
  padding: $xs-size $m-size;
  margin-top: $s-size;
}
